{% extends "base.html" %}

{% block conteudo %}
    Index da Aula
    <a href="/usuario/add">Adicionar +</a>
    <table>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Idade</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        {% for usuario in dados %}
        <tr>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.idade}}</td>
            <td>
                <a href="/usuario/edita/{{usuario.id}}">editar</a>
            </td>
            <td>
                <a href="/usuario/remove/{{usuario.id}}">remover</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}